.cards-section {
  text-align: center;
  padding: 3rem 3rem;
  background-color: var(--rmk-color-surface-contrast);
}

.cards-header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.9rem;
  color: var(--rmk-color-text-primary);
  scroll-margin-top: 80px;
}

.cards-header-description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: var(--rmk-color-text-primary);
}

.cards-wrapper {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
