.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: black;
  background-image: url('/static/img/gradientbanner.png');
  background-position: bottom center;
  background-size: cover;
  opacity: 1;
  height: 60vh;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.button-container {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
